@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@font-face {
    font-family: 'password';
    font-style: normal;
    src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

input.jobcenter-input-password, input.jobcenter-input-password2 {
    font-family: 'password';
}

.jobcenter-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #242833;
}

.jobcenter-header {
    position: absolute;
    width: 90%;
    height: 10%;
    /* top: 8%; */
    top: 16%;
    left: 6%;
    right: 0;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.3vh;
    /* margin: 0 auto; */
}

.jobcenter-header > p {
    line-height: 12vh;
    text-indent: 2vh;
    margin: 0 0 0 9vh;
}

.jobcenter-header > span {
    position: absolute;
    top: 8vh;
    left: 9vh;
    font-size: 1.2vh;
    height: 2vh;
    color: white;
}

.jobcenter-list {
    position: absolute;
    width: 88.8%;
    margin: 0 auto;
    left: -1%;
    right: 0;
    border-radius: .5vh;
    overflow-y: scroll;
    bottom: 0%;
    height: 76%;
}

.jobcenter-list::-webkit-scrollbar {
    display: none;
}








.jobcenter-btn-create-group{
    display: inline;
    background: #8ee074;
    padding: 2% 4%;
    transition: 0.2s;
    border-radius: 4px;
    color: black;
}
.jobcenter-btn-create-group:hover{
    background: #6cac59;
}

.jobcenter-div-active-stage{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.5vh;
    position: relative;
    height: auto;
    font: -webkit-control;
}



.jobcenter-div-job-group{
    /* display: inline; */
    width: 98%;
    margin-left: 1%;
    margin-bottom: 2%;
    padding-left: 5%;
    background-color: #2c465f;
    transition: 0.2s;
    color: whitesmoke;
    border-bottom: 2px solid #f5f5f5ad;
    border-radius: 2px;
}
.jobcenter-div-job-group:hover{
    background-color: #2e4d6a;
}

.jobcenter-div-job-group-image{
    font-size: 250%;
    display: inline-block;
}

.jobcenter-div-job-group-body-main{
    display: inline-block;
    position: absolute;
    /* background: black; */
    width: 70%;
    max-width: 70%;
    margin-top: 4%;
    margin-left: 4%;
}

#jobcenter-join-grouped{
    display: block;
    position: absolute;
    font-size: 110%;
}
#jobcenter-join-grouped:hover{
    color: #8ee074;
}

#jobcenter-leave-grouped{
    display: block;
    position: absolute;
    font-size: 110%;
    color: #f5a15b;
}
#jobcenter-leave-grouped:hover{
    color: #c27e47;
}

#jobcenter-block-grouped{
    display: block;
    position: absolute;
    font-size: 110%;
    color: rgb(255, 255, 255);
}

.jobcenter-option-class-body{
    text-align: right;
}

#jobcenter-delete-group:hover{
    color: #f5a15b;
}

#jobcenter-list-group:hover{
    color: #8ee074;
}

.jobcenter-Groupjob {
    margin-top: 16%;
    width: 99%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding-left: 9%;
    margin-top: 47%;
    border-top: 2px solid #7d7d7d;
    width: 87%;
    display: flex;
    padding-top: 10px;
    align-content: center;
    align-items: center;
    margin-left: 6%;
    height: 560px;
    overflow: auto;
 }

 .jobcenter-Groupjob::-webkit-scrollbar {
    display: none;
  }

 .jobcenter-div-active-stagee {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 1.5vh;
    position: relative;
    height: auto;
    word-break: break-word;
 }

 .isDone {
    text-decoration: line-through;
    background: #2c465f !important;
    position: relative;
 }
 .isDone::after {
    height: 30px;
    background: #008685 !important;
 }
 .jobcenter-div-active-stagee::after {
    content: '';
    height: 12px;
    background: #4155C0;
    left: -23px;
    top: -3px;
    width: 12px;
    position: absolute;
    border-radius: 100%;
 }
 .jobcenter-div-active-stagee::before {
    content: '';
    height: 90%;
    background: white;
    left: -18px;
    top: 15px;
    width: 2px;
    position: absolute;
 }

 .jobcenter-div-active-stagee {
    background: #2c465f;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.671);
}

.jobcenter-Groupjob-background {
    background: black;
    width: 100%;
    height: 100%;
}

.jobcenter-text-header {
    font-size: 1.5vh;
    color: white;
    position: absolute;
    width: 90%;
    top: 6%;
    left: 6%;
}

.jobcenter-playerlist {
    width: 100%;
    height: 74.5%;
    background-color: #242833;
    bottom: 0;
    position: absolute;
}

.jobcenter-playerlist2 {
    width: 100%;
    height: 74.5%;
    background-color: #242833;
    bottom: 0;
    position: absolute;
}


.jobcenter-playerlist-list {
    height: 6vh;
    font-size: 2vh;
    border-bottom: 1px white solid;
    background: #3D6285;
}

.jobcenter-playerlist-name {
    color: white;
    /* background-color: black; */
    height: 100%;
    font-size: 1.55vh;
    text-align: left;
    position: absolute;
    left: 27%;
    margin-top: 5px;
}

.jobcenter-playerlist-header {
    color: white;
    margin-left: 6%;
    margin-top: 14%;
    font-size: 1.7vh;
    margin-bottom: 5%;
}


#phone-new-box-main-playername {
    width: 86.3%;
    margin-left: 6.5%;
}



.jobcenter-playerlist-leave {
    background: #95EF77;
    margin-left: 36.5%;
    padding: 2.8% 5%;
    /* font-weight: 700; */
    bottom: 39.5%;
    position: absolute;
    /* top: 0;  */
}

.jobcenter-group-delete {
    display: none;
    background: #95EF77;
    margin-left: 30%;
    padding: 3.0% 5%;
    /* font-weight: 700; */
    bottom: 50%;
    position: absolute;
    /* top: 0; */
}

.jobcenter-job-value {
    position: absolute;
    right: 10px;
    bottom: -10px;
}

.jobcenter-groupstatus {
    display: none;
    color: white;
    position: absolute;
    font-size: 30px;
}

.jobcenter-groupjob-timer {
    display: none;
    width: 100%;
    font-size: 25px;
    top: 0px;
    position: absolute;
    color: white;
    margin-top: 30px;
    margin-left: 190px;
}